ibmin.json
[{"id":"57f33364.adf12c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"e4293a1b.7372e8","type":"inject","z":"57f33364.adf12c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Normal","payloadType":"str","x":100,"y":140,"wires":[["21fec4c.233d73c"]]},{"id":"2c6745e5.c47c8a","type":"inject","z":"57f33364.adf12c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Alert","payloadType":"str","x":100,"y":260,"wires":[["21fec4c.233d73c"]]},{"id":"21fec4c.233d73c","type":"function","z":"57f33364.adf12c","name":"format message","func":"msg.payload = { \"a\" : { \"indicator\" : msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":200,"wires":[["292fbe69.91a032"]]},{"id":"292fbe69.91a032","type":"json","z":"57f33364.adf12c","name":"","property":"payload","action":"","pretty":false,"x":430,"y":200,"wires":[["776b7be7.2d70b4"]]},{"id":"776b7be7.2d70b4","type":"ibmiot out","z":"57f33364.adf12c","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"080027f63042","deviceType":"raspberrypi","eventCommandType":"statusindicator","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":570,"y":220,"wires":[]}]