ibmout.json
[{"id":"8a257cc.7a1518","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e56868b6.2237d8","type":"ibmiot in","z":"8a257cc.7a1518","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":140,"y":140,"wires":[["373791b8.0dc71e"]]},{"id":"373791b8.0dc71e","type":"debug","z":"8a257cc.7a1518","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":140,"wires":[]},{"id":"1bfe3fc1.f9e71","type":"ui_button","z":"8a257cc.7a1518","name":"","group":"24a697c6.72b9b8","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":290,"y":500,"wires":[[]]},{"id":"c5818aa6.b74d28","type":"ibmiot in","z":"8a257cc.7a1518","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":120,"y":280,"wires":[["1a76eba0.aa2f14","ae60c0e0.40bc5","df6b2cd7.1b503","ee188b20.308268"]]},{"id":"1a76eba0.aa2f14","type":"function","z":"8a257cc.7a1518","name":"temperature","func":"msg.payload=msg.payload.d.Data.Environment.temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":220,"wires":[["bd29b6cf.10ad48"]]},{"id":"ae60c0e0.40bc5","type":"function","z":"8a257cc.7a1518","name":"humidity","func":"msg.payload=msg.payload.d.Data.Environment.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":280,"wires":[["f8070c0a.fcb8a"]]},{"id":"df6b2cd7.1b503","type":"function","z":"8a257cc.7a1518","name":"pressure","func":"msg.payload=msg.payload.d.Data.Environment.pressure;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":360,"wires":[["e58f40ca.74242"]]},{"id":"bd29b6cf.10ad48","type":"ui_gauge","z":"8a257cc.7a1518","name":"temp","group":"24a697c6.72b9b8","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":220,"wires":[]},{"id":"f8070c0a.fcb8a","type":"ui_gauge","z":"8a257cc.7a1518","name":"humid","group":"24a697c6.72b9b8","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"160","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":280,"wires":[]},{"id":"e58f40ca.74242","type":"ui_gauge","z":"8a257cc.7a1518","name":"press.","group":"24a697c6.72b9b8","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":360,"wires":[]},{"id":"ee188b20.308268","type":"debug","z":"8a257cc.7a1518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":420,"wires":[]},{"id":"24a697c6.72b9b8","type":"ui_group","z":"","name":"Default","tab":"494e40b0.2da5e","order":1,"disp":true,"width":"6","collapse":false},{"id":"494e40b0.2da5e","type":"ui_tab","z":"","name":"Environment","icon":"dashboard","order":1,"disabled":false,"hidden":false}]