sense-hat-in.json
[{"id":"cbd66d07.bcb11","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"76127a77.94e1a4","type":"rpi-sensehatsim in","z":"cbd66d07.bcb11","name":"","motion":false,"env":true,"stick":false,"x":100,"y":140,"wires":[["20857002.4559d"]]},{"id":"20857002.4559d","type":"delay","z":"cbd66d07.bcb11","name":"delay","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":270,"y":140,"wires":[["f3839806.9a9be8"]]},{"id":"f3839806.9a9be8","type":"function","z":"cbd66d07.bcb11","name":"","func":"msg.payload = {\"Data\" : {\"Environment\" : msg.payload}};\nmsg.deviceType = \"senseHat\";\nmsg.deviceId = \"senb08002795a941\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":140,"wires":[["71c5591d.cd32b8","e3140d32.1e973"]]},{"id":"71c5591d.cd32b8","type":"debug","z":"cbd66d07.bcb11","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":140,"wires":[]},{"id":"e3140d32.1e973","type":"wiotp out","z":"cbd66d07.bcb11","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"22e26637.fbccfa","deviceType":"raspberry-gateway","deviceId":"08002795a941","event":"event","format":"json","qos":"","name":"","x":550,"y":220,"wires":[]},{"id":"22e26637.fbccfa","type":"wiotp-credentials","z":"","name":"08002795a941","org":"40qzuc","serverName":"","devType":"raspberry-gateway","devId":"08002795a941","keepalive":"60","cleansession":true,"tls":"","usetls":false}]